@import "../../themes/palette.sass";

.header {
    display: flex;
    flex-direction: row;
    margin: 1px 10%;
    justify-content: space-between;
    align-items: center;
    button {
        color: white;
        width: 60px;
        height: 60px;

        .mat-icon {
            font-size: 35px;
            margin-top: -8px;
            margin-left: -8px;
            color: white;
        }
    }
}

.categories {
    display: flex;
    flex-direction: row;
    margin: 1% 10%;
    padding: 1% 10%;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    color: white;
}

.category {
    p {
        margin: 0px;
    }
}
