<div class="header">
    <a routerLink="">
        <img src="../../assets/logo.png" height="100" width="200" alt="logo" />
    </a>
    <div class="icon">
        <button mat-fab routerLink="/cart">
            <mat-icon (cartUpdated)="getCart()" [matBadge]="cartNbProducts" matBadgeOverlap="false">shopping_cart</mat-icon>
        </button>
    </div>
</div>

<div class="categories">
    <div class="category" *ngFor="let category of categories">
        <button class="mat-button" [routerLink]="'/category/' + category.id" >
            <p class="mat-h2">{{ category.categoryName }}</p>
        </button>
    </div>
</div>
