<div>
    <p class="mat-display-1">Félicitations, votre achat est confirmé !</p>
    <p class="mat-h1">Et si vous avez oublié quelque chose, c'est par là :</p>
    <button mat-raised-button routerLink="">Retour à la boutique</button>
</div>
