@import "../../themes/palette.sass";

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mat-display-1 {
    margin-top: 10%;
}

button {
    margin-top: 5%;
    width: 50%;
    padding: 5px 20px;
    font-size: large;
    background-color: $primary-color;
    color: white;
}
