<div class="cart" *ngIf="cart !== undefined">
    <div class="product-list">
        <p *ngIf="cart.products === undefined || cart.products.length === 0">
            Votre panier est vide.
        </p>
        <mat-card *ngFor="let product of cart.products">
            <mat-card-header>
                <mat-card-title>{{ product.name }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <img
                    [src]="
                        product.images && product.images[0]
                            ? product.images[0].path
                            : defaultImage
                    "
                    [alt]="product.name"
                    [routerLink]="'/product/' + product.id"
                />

                <app-quantity-selector
                    [product]="product"
                    (productQuantityChanged)="getProducts()"
                ></app-quantity-selector>

                <app-price
                    class="mat-h2"
                    [price]="product.priceTaxIncluded"
                ></app-price>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="summary">
        <div class="total">
            <p class="mat-h1">Total</p>
            <app-price
                class="mat-h1"
                [price]="cart.totalPriceTaxIncluded"
            ></app-price>
        </div>
        <button
            *ngIf="cart.totalPriceTaxIncluded > 0"
            mat-raised-button
            (click)="next()"
        >
            Valider le panier
        </button>
    </div>
</div>
