@import "../../themes/palette.sass";

.cart {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.product-list {
    width: 50%;

    mat-card {
        background-color: $primary-color-light;

        color: $primary-text-color;
        margin-bottom: 3%;

        mat-card-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            img {
                width: 20%;
                border: black 1px solid;
            }
        }
        app-quantity-selector {
            width: 30%;
        }
    }
}

.summary {
    padding: 2% 3%;
    width: 25%;
    border: $divider-color 1px solid;
    box-shadow: black;

    .total {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        app-price {
            color: $primary-color;
            font-weight: 500;
        }
    }

    button {
        margin-top: 10%;
        width: 100%;
        padding: 5px 20px;
        font-size: large;
        background-color: $primary-color;
        color: white;
    }
}
