@import "../../themes/palette.sass";

.order-process {
    padding: 1% 10%;
    width: 80%;
}

::ng-deep .mat-step-header .mat-step-icon-selected,
::ng-deep .mat-step-header .mat-step-icon-state-edit,
::ng-deep .mat-step-header .mat-step-icon-state-done {
    background-color: $primary-color;
    color: white;
}
