<div class="order-process">
    <mat-horizontal-stepper class="mystep" #stepper linear>
        <mat-step label="Panier" completed="false" [editable]="canGoBack">
            <ng-container *ngIf="currentStep >= 0">
                <app-cart-page [next]="goToNextStep.bind(this)"></app-cart-page>
            </ng-container>
        </mat-step>
        <mat-step label="Paiement" completed="false" [editable]="canGoBack">
            <ng-container *ngIf="currentStep >= 1">
                <app-payment-page [next]="goToNextStep.bind(this)">
                </app-payment-page>
            </ng-container>
        </mat-step>
        <mat-step label="Commandé" completed="false" [editable]="canGoBack">
            <ng-container *ngIf="currentStep >= 2">
                <app-order-processed-page></app-order-processed-page>
            </ng-container>
        </mat-step>
    </mat-horizontal-stepper>
</div>
