@import "../../themes/palette.sass";

.product-page {
    padding: 30px 150px;
}

.title {
    margin-bottom: 30px;
}

.product-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

.image-viewer {
    display: flex;
    flex-direction: row;
}

.current-image {
    margin-left: 30px;
    img {
        height: 500px;
        width: 500px;
        object-fit: contain;
    }
}

.thumbnails {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;

    img {
        height: 70px;
        width: 70px;
        margin-bottom: 20px;
        border: lightgrey 0.1px solid;
        object-fit: cover;
    }

    .selected {
        border: black 2px solid;
    }
}

.summary {
    width: 20%;
    padding: 50px 40px;
    border: lightgrey 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: fit-content;

    p {
        text-align: left;
    }

    button {
        margin-top: 10%;
        padding: 5px 20px;
        font-size: large;
        background-color: $primary-color;
        color: white;
        mat-icon {
            margin-right: 10px;
        }
    }
    
    app-quantity-selector {
        margin-top: 10%;
    }
}

.price {
    color: $primary-color;
    font-weight: 500;
    margin-bottom: 10px;
}
