<app-loader [isLoading]="isLoading"></app-loader>
<div class="product-page" *ngIf="product !== null">
    <div class="title">
        <p class="mat-h1">{{ product.name }}</p>
        <mat-divider></mat-divider>
    </div>

    <div class="product-details">
        <div class="image-viewer">
            <div class="thumbnails">
                <img
                    *ngFor="let image of product.images"
                    [class]="currentImage === image ? 'selected' : ''"
                    [src]="image.path"
                    [alt]="image.filename"
                    (click)="changeCurrentImage(image)"
                />
            </div>

            <div class="current-image">
                <img
                    *ngIf="currentImage"
                    [src]="currentImage.path"
                    [alt]="currentImage.filename"
                />
            </div>
        </div>

        <div class="summary">
            <app-price
                class="price mat-display-1"
                [price]="product.priceTaxIncluded"
            ></app-price>
            <p class="mat-body">{{ product.shortDescription }}</p>
            <app-quantity-selector *ngIf="product.quantity && product.quantity > 0" [product]="product"></app-quantity-selector>
            <button *ngIf="!product.quantity" mat-raised-button (click)="addToCart()">
                <mat-icon>shopping_cart</mat-icon>
                Ajouter au panier
            </button>
        </div>
    </div>
    <div class="more">
        <p class="mat-h2">Description du produit</p>
        <p class="mat-body">{{ product.description }}</p>
    </div>
</div>
