@import "../../themes/palette.sass";

.main {
    display: inline-flex;
    padding: 1% 10%;
    width: 80%;
}

.filters {
    min-width: 15%;
}

.products {
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;

    mat-select {
        width: 20%;
    }
}

.content {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    
    mat-card {
        margin-left: 20px;
        width: 20%;
        img {
            object-fit: cover;
            height: 70%;
            object-position: center;
        }
    }
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    button {
        background-color: white;
    }

    mat-icon {
        color: $primary-color;
        font-size: 35px;
        margin-top: -8px;
        margin-left: -8px;
    }
}

img[ng-reflect-router-link] {
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 10%;
}

.filter-title {
    mat-divider {
        margin-top: 0px;
        margin-right: 50px;
    }
    p {
        font-weight: 500;
        margin-bottom: 5px;
    }
}

.filter {
    margin-bottom: 30%;
}