<div class="main">
    <div class="filters">
        <div class="filter" *ngFor="let filter of filters">
            <div class="filter-title">
                <p class="mat-h3">{{ filter.label }}</p>
                <mat-divider></mat-divider>
            </div>
            <ul>
                <li *ngFor="let option of filter.options">
                    <mat-checkbox
                        (change)="selectFilter(option, $event.checked)"
                    >
                        {{ option.label }}
                    </mat-checkbox>
                </li>
            </ul>
        </div>
    </div>
    <div class="products">
        <div class="header">
            <div class="title">
                <div *ngIf="category" class="mat-h2">
                    Tous les produits de la categorie
                    {{ category.categoryName }} ({{ totalNb }})
                </div>
                <div *ngIf="!category" class="mat-h2">
                    Tous les produits ({{ totalNb }})
                </div>
            </div>

            <mat-select
                (selectionChange)="changeSortOrder()"
                [(ngModel)]="selectedSortOption"
            >
                <mat-option
                    *ngFor="let sortByOption of sortByOptions"
                    [value]="sortByOption"
                >
                    {{ sortByOption.label }}
                </mat-option>
            </mat-select>
        </div>

        <div class="content">
            <p
                class="mat-h3"
                *ngIf="!isLoading && (!products || products.length === 0)"
            >
                Aucun produit ne correspond à vos filtres
            </p>
            <app-loader [isLoading]="isLoading"></app-loader>
            <mat-card *ngFor="let product of products">
                <img
                    mat-card-image
                    [src]="
                        product.images && product.images[0]
                            ? product.images[0].path
                            : defaultImage
                    "
                    [alt]="product.name"
                    [routerLink]="'/product/' + product.id"
                />
                <mat-card-content>
                    <p class="mat-h3">{{ product.name }}</p>
                </mat-card-content>
                <div class="footer">
                    <app-price
                        class="price mat-h2"
                        [price]="product.priceTaxIncluded"
                    ></app-price>
                    <button
                        mat-fab
                        matRipple
                        matRippleColor="#DCEDC8"
                        [matRippleCentered]="true"
                        [matRippleRadius]="20"
                        aria-label="Ajouter au panier"
                        (click)="addToCart(product)"
                    >
                        <mat-icon
                            [matBadge]="product.quantity"
                            matBadgeOverlap="false"
                            >shopping_cart</mat-icon
                        >
                    </button>
                </div>
            </mat-card>
        </div>
        <mat-paginator
            [length]="totalNb"
            [pageSize]="itemsPerPage"
            [pageIndex]="page"
            (page)="changePage($event)"
        ></mat-paginator>
    </div>
</div>
