/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


// Remove the arrows from input with numbers
.input-number-no-arrow::-webkit-inner-spin-button,
.input-number-no-arrow::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-number-no-arrow {
    -moz-appearance: textfield; /* Firefox */
}
