<div class="payment-page">
    <div class="left-side">
        <div class="delivery">
            <p class="mat-h1">Livraison</p>
            <p class="mat-body">Votre commande sera livrée ici.</p>
        </div>

        <div class="payment-form">
            <app-loader [isLoading]="isProcessingPayment"></app-loader>
            <form (submit)="handleForm($event)">
                <div class="card-input" #cardElement></div>

                <div id="card-errors" role="alert">
                    {{ cardErrors }}
                </div>

                <button mat-raised-button id="submit">Payer</button>
            </form>
        </div>
    </div>

    <div class="summary" *ngIf="cart">
        <div class="total">
            <p class="mat-h1">Total</p>
            <app-price
                class="mat-h1"
                [price]="cart.totalPriceTaxIncluded"
            ></app-price>
        </div>
    </div>
</div>
