@import "../../themes/palette.sass";

.payment-page {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.left-side {
    width: 50%;
    margin: 5%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}

.delivery {
    border: black 1px solid;
    padding: 5%;
    margin-bottom: 10%;
}

.payment-form {
    padding: 10% 5%;

    border: black 1px solid;

    button {
        margin-top: 10%;
        width: 100%;
        padding: 5px 20px;
        font-size: large;
        background-color: $primary-color;
        color: white;
    }
}

.summary {
    padding: 2% 3%;
    width: 25%;
    border: $divider-color 1px solid;
    box-shadow: black;

    .total {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        app-price {
            color: $primary-color;
            font-weight: 500;
        }
    }
}