@import "../../themes/palette.sass";

.quantity-selector {
    border: $divider-color 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-around;

    input {
        width: 30%;
        text-align: center;
        border: none;
        background-color: transparent;
        font-size: large;
    }
}
