<div class="quantity-selector">
    <button mat-icon-button (click)="updateQuantity(product, -1)">
        <mat-icon>remove</mat-icon>
    </button>
    <input
        class="input-number-no-arrow"
        mat-input
        type="number"
        [(ngModel)]="product.quantity"
        (change)="updateQuantity(product)"
    />
    <button mat-icon-button (click)="updateQuantity(product, 1)">
        <mat-icon>add</mat-icon>
    </button>
</div>
